.start_screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 100vh;
    }

}

.start-label-box{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 100px;

    img {
        width: 40vw;
        height: auto;

        &:hover {
            filter: brightness(1.2);
        }
    }
}

