/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
html, body { 
    height: 100%; 
    overflow: hidden;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@media (max-width: 960px) {
    .hide-mobile{
        display: none;
    }
}

@media (min-width: 960px) {
    .hide-desktop{
        display: none;
    }
}